.cartPage {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 90rem;
}
.cartContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95vw;
  justify-content: center;
  justify-items: center;
}
.link-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
  column-gap: 25rem;
  margin-top: 2rem;
}
.line {
  justify-self: center;
  grid-column: 1/-1;
  margin-top: 30px;
  width: 70%;
  border-bottom: 1px solid #e5e5e5;
}
.link-btn {
  width: 35%;
  text-decoration: none;
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: #5ece7b;
  color: #fff;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  cursor: pointer;
  justify-self: end;
}
.brand {
  color: #1d1f22;
}
.name {
  color: #1d1f22;
  font-size: 1.7rem;
}
.clear-btn {
  background: #5ece7b;
}

.CartImg {
  width: 7vw;
  height: 11vw;
}
.imageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cartContainer {
  text-align: left;
  width: 100%;
}

.btn {
  width: 15vw;
  text-transform: uppercase;
  background: #5ece7b;
  text-decoration: none;
  color: hsl(22, 31%, 88%);
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 400;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  border-color: transparent;
}
.btn:hover {
  color: hsl(22, 28%, 21%);
  background: #5ece7b;
}
.amount-button {
  font-size: 1.7rem;
  width: 50px;
  height: 50px;
  color: rgb(117, 116, 116);
  background-color: #fff;
  border: 1px solid #1d1f22;
}
.amount-para {
  padding-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
}
.clear {
  border: none;
  font-size: 1rem;
}
.empty {
  text-align: center;
}
